.top-nav li {
    margin: 0px;
    float: right;
    list-style-type: none;
    padding: 5px;
}

.top-nav ol {
    position: fixed;
    top: 0;
    width: 100%;
  }

.logo {
    margin: 0 auto;
    display: grid;
    width: 700px;
}

.everything {
    margin: 0 auto;
    display: grid;
    width: 500px;
    padding: 10px;
}

.offering {
    margin: 0 auto;
    display: block;
    width: 500px;
    padding: 10px;
}

.bottom-nav li {
    list-style-type: none;
    padding: 5px;
    margin: 5px;
    margin-right: 3px;
    text-decoration: none;
    display: inline;
    float: right;
}

.search-box {
    border: 1px solid black;
    width: 400px;
    height: 20px;
    border-radius: 3px;
}

.search-button, .feel-lucky {
    width: 150px;
    padding-left: 5px;
    border-radius: 5px;
}

.lower-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: azure;
}